<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="login.css">
  <title>Login Page</title>
  <script>
fetch('/login', {
  method: 'POST',
  headers: {
    'Content-Type': 'application/json'
  },
  body: JSON.stringify({ username, password })
})
.then(response => {
  console.log('Response status:', response.status); // Log the response status
  console.log('Redirected:', response.redirected); // Log whether the response is a redirect
  console.log('URL:', response.url); // Log the URL of the response

  if (response.status === 200) {
    window.location.href = response.url; // Redirect to the URL in the response
  } else {
    alert('Invalid credentials');
  }
})
.catch(error => console.error('Error:', error));
</script>
</head>
<body>
  <div class="container">
    <div class="login-container">
      <h2>Welcome!</h2>
      <form action="/login" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        
        <button type="submit">Sign In</button>
      </form>
    </div>

    <div class="additional-content">
      <div class="logo-container">
        <img src="/assets/clean.png" alt="Your Logo" class="logo">
      </div>
    </div>
  </div>  
</body>
</html>
