body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #000000, #363636);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
}

.login-container {
  background: rgba(0, 0, 0, 0.5);
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  width: 400px;
  margin-right: 20px; /* Margin for spacing between login and logo */
}

.additional-content {
  display: flex;
  align-items: center;
}

.logo-container {
  margin-right: 20px;
}

.logo {
  width: 380px; /* Adjust the width as needed */
  height: auto;
  display: block;
  margin: 0 auto; /* Center the logo horizontally */
}

h2,
label,
.links {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
}

.links {
  color: #fff;
  font-size: 14px;
}

.links a {
  color: #5F9EA0;
  text-decoration: none;
  margin: 0 10px;
}

.links a:hover {
  text-decoration: underline;
}

button {
  background-color: #1F629D;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #5F9EA0;
}

.additional-content {
  text-align: center;
  margin-top: 20px;
}

/* Additional content styles */
.additional-content p {
  max-width: 350px; /* Adjust the width as needed */
  text-align: justify;
  margin: 0 auto; /* Center the paragraph */
}
