body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #3d749e64, #3AA0F0), url('/assets/background.png') center/cover no-repeat;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container {
  background: rgba(40, 128, 204, 0.2);
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  width: 400px;
  margin-right: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(40, 128, 204, 0.4);
}

.logo-container {
  position: absolute;
  top: 20px;
  left: 20px;
}

.logo {
  max-width: 400px; /* Adjust this to change the maximum width of the logo */
  max-height: 400px; /* Adjust this to change the maximum height of the logo */
  width: auto; /* This will keep the aspect ratio of the logo intact */
  height: auto; /* This will keep the aspect ratio of the logo intact */
  position: absolute; /* This will take the logo out of the normal document flow */
  top: -110px; /* This will position the logo 20px from the top of the page */
  left: -90px; /* This will position the logo 20px from the left of the page */
}



h2,
label,
.links {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);
}

.links {
  color: #fff;
  font-size: 14px;
}

.links a {
  color: #86BBD8;
  text-decoration: none;
  margin: 0 10px;
}

.links a:hover {
  text-decoration: underline;
}

button {
  background-color: #004080;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #005699;
}

.additional-content {
  text-align: center;
  margin-top: 20px;
}

.additional-content p {
  max-width: 350px;
  text-align: justify;
  margin: 0 auto;
  color: #dcdcdc;
}
