<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="login.css">
  <title>Login Page</title>
  <link rel="icon" href="/assets/Voyageur.ico" type="image/x-icon">
</head>
<body>
  <div class="container">
    <div class="login-container">
      <h2>Welcome!</h2>
      <form id="login-form" action="/login" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        
        <button type="submit">Sign In</button>
      </form>
      <div id="error-message" class="error-message"></div> <!-- New div for error message -->
    </div>

    <div class="additional-content">
      <div class="logo-container">
        <img src="/assets/clean.png" alt="Your Logo" class="logo">
      </div>
    </div>
  </div>

  <script src="/scripts/login.js"></script> <!-- Include login.js for handling form submission -->
</body>
</html>
