<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile Page</title>
  <link rel="stylesheet" href="/index.css">
  <link rel="icon" href="/assets/Voyageur.ico" type="image/x-icon">
</head>
<body>
  <header>
    <img src="/assets/clean.png" alt="Your Logo" class="logo">
    <h1>Profile Page</h1>
    <nav>
      <ul class="navbar">
        <li><a href="/instructions" class="nav-link">Instructions</a></li>
        <li><a href="/calculator" class="nav-link">GPA Calculator</a></li>
        <li><a href="/QA" class="nav-link">Q&A</a></li>
      </ul>
    </nav>
    <!-- Logout button -->
    <button onclick="logout()" class="logout-btn">
      <img src="/assets/logout-icon.png" alt="Logout" class="logout-icon">
    </button>
  </header>

  <main>
    <section class="glass">
      <h2>Profile</h2>
      <div class="profile-content">
        <div class="image-container">
          <img id="yearbook-img" src="./assets/AnkitKale.png" alt="Yearbook Image" onclick="openModal()">
        </div>
        <div class="text-content">
          <h1>Name: <span id="name">N/A</span></h1>
          <h1>ID: <span id="id">N/A</span></h1>
          <h1>Grade: <span id="grade">N/A</span></h1>
          <h1><span id="current-time"></span></h1>
          <h1><span id="current-date"></span></h1>
        </div>
      </div>
    </section>
  </main>

  <div id="modal" class="modal" onclick="closeModal()">
    <span class="close" onclick="closeModal()">&times;</span>
    <div class="modal-content">
      <img id="modal-image" src="./assets/yearbook.png" alt="Enlarged Image">
    </div>
  </div>

  <script src="./scripts/index.js" defer></script>
</body>
</html>
