<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Set character encoding -->
  <meta charset="UTF-8">
  <!-- Link to external stylesheet -->
  <link rel="stylesheet" href="/index.css">
  <link rel="icon" href="/assets/Voyageur.ico" type="image/x-icon">
</head>
<body>
  <header>
    <!-- Logo -->
    <img src="/assets/clean.png" alt="Your Logo" class="logo">
    <!-- Heading -->
    <h1>Welcome to Voyageur!</h1>
    <!-- Navigation -->
    <nav>
      <ul class="navbar">
        <!-- Navigation links -->
        <li><a href="/html/instructions.html" class="nav-link">Instructions</a></li>
        <li><a href="/html/calculator.html" class="nav-link">GPA Calculator</a></li>
        <li><a href="/html/Q&A.html"class="nav-link">Q&A</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <!-- Profile section -->
    <section class="glass">
      <h2>Profile</h2>
      <div class="profile-content">
        <!-- Image container -->
        <div class="image-container">
          <!-- Image with onclick function to open modal -->
          <img src="./assets/yearbook.png" alt="Service Image Description" onclick="openModal()">
        </div>
        <!-- Text content -->
        <div class="text-content">
          <!-- Profile information -->
          <h1>Name: <span id="name">N/A</span></h1>
          <h1>ID: <span id="id">N/A</span></h1>
          <h1>Grade: <span id="grade">N/A</span></h1>
          <h1><span id="current-time"></span></h1>
          <h1><span id="current-date"></span></h1>
        </div>
      </div>
    </section>
  </main>

  <!-- Modal for displaying enlarged image -->
  <div id="modal" class="modal" onclick="closeModal()">
    <span class="close" onclick="closeModal()">&times;</span>
    <div class="modal-content">
      <img id="modal-image" src="./assets/yearbook.png" alt="Enlarged Image">
    </div>
  </div>
  <!-- Link to JavaScript file with defer attribute for deferred execution -->
  <script src="./scripts/index.js" defer></script>
</body>
</html>
