body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #4285f4, #b388ff); /* Blue to Light Purple */
  color: #fff;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

h1 {
  margin: 0;
  color: #fff;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}

section {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.glass {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
}

.glass:hover {
  transform: translateY(-5px);
  box-shadow: 0 16px 40px 0 rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.3);
}

footer {
  text-align: center;
  padding: 10px;
}

.calculator-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th, table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.input-field, .select-field {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  transition: background-color 0.3s ease;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
}

.input-field:focus, .select-field:focus {
  background-color: rgba(255, 255, 255, 0.9);
}

button {
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  background-color: #5181FF; /* New color */
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 15px;
}

button:hover {
  background-color: #3e6edc; /* Darker shade of the new color */
}

.logo {
  max-width: 400px;
  max-height: 400px;
  width: auto;
  height: auto;
  position: absolute;
  top: -110px;
  left: -90px;
}

.gpa-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.result-value {
  font-weight: 500;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.button-container button {
  margin: 0 10px;
}