<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/instructions.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <img src="/assets/clean.png" alt="Your Logo" class="logo">
    <h1>Instructions</h1>
    <nav>
      <ul class="navbar">
        <li><a href="/index.html" class="nav-link">Home</a></li>
        <li><a href="/html/calculator.html" class="nav-link">GPA Calculator</a></li>
        <li><a href="/html/Q&A.html" class="nav-link">Q&A</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section class="glass">
      <h2>Instructions</h2>
      <div class="instructions">
        <ul class="instruction-list">
          <li>Access the GPA Calculator page by clicking on the "GPA Calculator" in the navigation menu.</li>
          <li>On the GPA Calculator page, enter your grades, classes, and credits in the respective input fields.</li>
          <li>After entering all necessary information, click on the "Calculate GPA" button.</li>
          <li>Ask the Q&A chatbot if you have any questions!</li>
        </ul>
      </div>
    </section>
  </main>

  <footer>
    <p>&copy; 2024 Voyageur All rights reserved.</p>
  </footer>
</body>
</html>
