<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Set character encoding -->
  <meta charset="UTF-8">
  <!-- Link to external stylesheet -->
  <link rel="stylesheet" href="/css/instructions.css">
  <link rel="icon" href="/assets/Voyageur.ico" type="image/x-icon">
</head>
<body>
  <header>
    <!-- Logo -->
    <!-- <img src="/assets/clean.png" alt="Your Logo" class="logo"> -->
    <!-- Heading -->
    <h1>Instructions</h1>
    <!-- Navigation -->
    <nav>
      <ul class="navbar">
        <!-- Navigation links -->
        <li><a href="/profile" class="nav-link">Home</a></li>
        <li><a href="/calculator" class="nav-link">GPA Calculator</a></li>
        <li><a href="/QA" class="nav-link">Q&A</a></li>
      </ul>
    </nav>
    <button onclick="logout()" class="logout-btn">
      <img src="/assets/logout-icon.png" alt="Logout" class="logout-icon">
    </button>
  </header>
  <main>
    <!-- Main section -->
    <section class="glass">
      <!-- Instructions -->
      <h2>Instructions</h2>
      <div class="instructions">
        <ul class="instruction-list">
          <!-- List of instructions -->
          <li>Access the Calculator page by clicking on the <a href="/calculator" style="color: white; text-decoration: none;">"GPA Calculator"</a> in the navigation menu.</li>
          <li>On the <a href="/calculator" style="color: white; text-decoration: none;">GPA Calculator</a> page, enter your grades, classes, and credits in the respective input fields.</li>
          <li>View unweighted and weighted GPA, and adjust values accordingly.</li>
          <li>Ask the <a href="/QA" style="color: white; text-decoration: none;">Q&A chatbot</a> if you have any questions!</li>
        </ul>
      </div>
    </section>
  </main>
</body>
</html>